name: Terraform CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: Terraform Validation & Plan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Initialize Terraform
        working-directory: terraform
        run: terraform init -input=false

      - name: Validate Terraform files
        working-directory: terraform
        run: terraform validate

      - name: Generate Terraform Plan
        working-directory: terraform
        run: terraform plan -no-color
